<div class="edit-header">
  <h2>{{mode}}</h2>
</div>
<section class="wrapper-add-article" [formGroup]="articleForm">  
  <div class="edit-form">
    <aside class="left-part col-6">
      <div>
        <div class="form-group">
          <label for="heading">Title</label>
          <input type="text" class="form-control" id="heading" [formControl]="titleControl">
        </div>
        <div class="form-group">
          <label for="description">Short description</label>
          <input type="text" class="form-control" id="description" [formControl]="descriptionControl">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control" id="content" rows="7" [formControl]="contentControl"></textarea>
        </div>
      </div>
    </aside>
    <aside class="right-part col-6">
      <div>
        <div class="form-group">          
          <label for="image" class="img">Image URL</label>
          <input type="text" class="form-control" id="image" [formControl]="imageControl">
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" class="form-control" id="date" [formControl]="publishedAtControl">
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" [formControl]="authorControl" class="form-control" id="author">
        </div>
        <div class="form-group">
          <label for="source-url">Source URL</label>
          <input type="text" [formControl]="sourceControl" class="form-control" id="source-url">
        </div>
        <div class="wrapper-btn">
          <button type="button" class="btn btn-primary col-4">Save</button>
          <button type="button" class="btn btn-primary col-4" [routerLink]="['/']">Cancel</button>
        </div>        
      </div>      
    </aside>
  </div>
</section>

