<section class="wrapper-news">
  <div class="wrapper-one-news" *ngFor="let news of newsList | articleFilter : char">
    <aside class="left-side col-8">
      <img src="{{news.urlToImage}}">
      <h3>{{news.title}}</h3>
      <p>{{news.description}}</p>
      <a href="#">Read more...</a>
    </aside>
    <aside class="right-side col-4">
      <p>Date: {{news.publishedAt | date:'fullDate'}}</p>
      <div class="wrapper-btn">
        <button type="button" class="btn btn-success">Edit</button>      
        <button type="button" class="btn btn-success">Delete</button>
      </div>      
    </aside>
  </div> 
</section>
<button type="button" class="btn btn-success load-more">Load More</button>
