body {
  height: 100vh;
}

.container {
  height: 100%;
  padding: 20px 0 0; 
}

.container ol {
  padding: 0;
}

#news img {
  max-width: 100%;
  height: auto;
}

.required-text {
  font-size: 0.9rem;
}

.btn.btn-success {
  display: block;
  margin: 0 0 15px;
}

#select {
  margin: 0 0 15px;
}

.popup-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  background: #fff;
  padding: 20px;
}